DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SECRET_KEY='django-insecure-a8y71e7o7yeoe@hyp3db&%u-sz!+h72waq+2&=u@g-0=09q9lp'
EMAIL_HOST_USER='example@yandex.ru'
EMAIL_HOST_PASSWORD='email_password'